---
layout: default
---

<div class="home">

  <h2>
    Hello, 
  </h2>

  <p>
    🙋🏻‍♀I am Fionna Yao, a highly creative and passionate UI/UX designer with front-end coding chops. I am based in Melbourne, Australia.
  </p>
  
  <p>
    🌞By day I champion user-centered approach and design thinking to enterprise level product development at Apparel21. 🌚In my spare time; I like to write about design  , join hackathons and experiment on the web.
  </p>  
  
  <p>
    💬Get in touch with me by email or on any of the social media network below. I speak English, Indonesian, Chinese and conversational Japanese.
  </p>

</div>
